voice-to-action/workflow.json
{
  "name": "MijnAssistantBot",
  "nodes": [
    {
      "parameters": {
        "content": "## 🎧 Input Processing\n1. Ontvangt spraakbericht via Telegram.\n2. Downloadt het binaire bestand.\n3. Converteert audio naar tekst met OpenAI Whisper.",
        "height": 448,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        112
      ],
      "id": "895ce5ea-bf48-4da0-8377-ad359f7917bb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        288
      ],
      "id": "f1be7da9-8541-4cf6-b8a5-3312865f64f8",
      "name": "🎙️ Incoming Voice Note",
      "webhookId": "dad803b0-97e7-4581-a258-ecee3a34fccf",
      "credentials": {
        "telegramApi": {
          "id": "ZplzwTcRXYv8IYUJ",
          "name": "MijnAssistantBot"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        288
      ],
      "id": "6f0fe789-2a95-45ee-84a2-9e85c0ea8d82",
      "name": "📥 Download Audio File",
      "webhookId": "a7a3d4a4-a25a-432a-9ce0-f162a6a0df95",
      "credentials": {
        "telegramApi": {
          "id": "ZplzwTcRXYv8IYUJ",
          "name": "MijnAssistantBot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        0,
        288
      ],
      "id": "4075ecb6-b4da-474c-8218-5625eeb30295",
      "name": "👂 Transcribe (Whisper)",
      "credentials": {
        "openAiApi": {
          "id": "RfG4k28yYG0T5NQr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Je bent een strikte Data-Entry Assistent.\nJe luistert naar een transcriptie en zet dit om naar JSON data voor 3 tools: Agenda, Notion en Slack.\n\nHUIDIGE DATUM (NL): {{ $now.setZone('Europe/Amsterdam').toFormat('EEEE d MMMM yyyy, HH:mm') }}\n\nCONTACTEN:\n- Hans: hans@yourcompany.com\n- Gerard: gerard@yourcompany.com\n\nINSTRUCTIES:\n1. Luister naar de INPUT van de gebruiker.\n2. Als input \"Maandag\" is, reken uit welke datum dat is vanaf VANDAAG.\n3. Splits onderwerpen: Agenda meeting is NIET hetzelfde als Notion taak.\n4. Slack: Kopieer letterlijk de boodschap (bijv over taart).\n\nOUTPUT FORMAAT (JSON):\n{\n  \"calendar\": { \n      \"summary\": \"Titel\", \n      \"description\": \"MOET INGEVULD ZIJN (gebruik anders de titel)\", \n      \"date\": \"...\", \n      \"attendees\": [...] \n  },\n  \"notion\": { \n      \"summary\": \"Titel\", \n      \"description\": \"MOET INGEVULD ZIJN (gebruik anders de titel)\", \n      \"status\": \"...\" \n  },\n  \"slack\": { \"message\": \"...\" }\n}\n(Zet tool op null indien niet nodig)."
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        224,
        288
      ],
      "id": "39aaab6b-05c6-4a35-83a4-529b12b9649b",
      "name": "🧠 AI Brain & Router (gpt-4o-mini)",
      "credentials": {
        "openAiApi": {
          "id": "RfG4k28yYG0T5NQr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Haal de tekst op\nconst content = $input.first().json.output[0].content[0].text;\n\n// 2. Zoek met een 'Regex' naar het gedeelte tussen de accolades { ... }\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n\nif (jsonMatch) {\n  try {\n    // 3. Parse alleen het gevonden stukje\n    const parsed = JSON.parse(jsonMatch[0]);\n    return [parsed];\n  } catch (e) {\n    return [{ error: \"JSON gevonden maar corrupt\", raw: content }];\n  }\n} else {\n  return [{ error: \"Geen JSON gevonden in de tekst\", raw: content }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        288
      ],
      "id": "bffbd2b3-c10f-497b-ae30-12aa625927ec",
      "name": "🧹 Parse & Clean JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88ec611c-30f9-4c20-af49-549238025dd0",
              "leftValue": "={{ $json.calendar != null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        96
      ],
      "id": "bf2f00c4-2b40-45fb-84b7-084b1c2ba25c",
      "name": "🔀 Route: Calendar?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88ec611c-30f9-4c20-af49-549238025dd0",
              "leftValue": "={{ $json.notion != null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        288
      ],
      "id": "1518b147-3b5b-480e-86fa-a603077d83c0",
      "name": "🔀 Route: Notion?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88ec611c-30f9-4c20-af49-549238025dd0",
              "leftValue": "={{ $json.slack != null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        480
      ],
      "id": "f7de13e1-98ac-4ef5-ab50-379e42c7696c",
      "name": "🔀 Route: Slack? Fase 4: Actie"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "YOUR_GOOGLE_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "MijnAssistantBot - n8n workflow demo"
        },
        "start": "={{ $json.calendar.date }}",
        "end": "={{ DateTime.fromISO($json.calendar.date).plus({hours: 1}).toISO() }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.calendar.attendees.join(',') }}"
          ],
          "description": "={{ $json.calendar.description || $json.calendar.summary }}",
          "sendUpdates": "all",
          "summary": "={{ $json.calendar.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1024,
        96
      ],
      "id": "5ba836d8-aa1f-4246-b5fd-b1d3d9679199",
      "name": "🗓️ Schedule Meeting",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0gn22CYnZmdRoTJI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "list",
          "cachedResultName": "YOUR_NOTION_DATABASE_ID",
          "cachedResultUrl": "https://www.notion.so/2cce3245ba9b80b1b6f1e602cd4ea349"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Naam|title",
              "title": "={{ $json.notion.summary }}"
            },
            {
              "key": "Status|select",
              "selectValue": "={{ $json.notion.status }}"
            },
            {
              "key": "Datum|date",
              "includeTime": false,
              "date": "={{ $now }}",
              "timezone": "Europe/Amsterdam"
            },
            {
              "key": "Samenvatting|rich_text",
              "textContent": "={{ $json.notion.description || $json.notion.summary || \"Geen details\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1024,
        288
      ],
      "id": "b59010cd-d998-4337-aa10-7ac34068d0c8",
      "name": "🗃️ Update Project DB",
      "credentials": {
        "notionApi": {
          "id": "tnIVfpR46gWR9q6E",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "updates"
        },
        "text": "={{ $json.slack.message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1024,
        480
      ],
      "id": "c405ecbf-40aa-4d9b-b471-a937718942aa",
      "name": "📢 Notify Team",
      "webhookId": "e53ccc6a-71e1-4e36-b30d-e648c4eb319f",
      "credentials": {
        "slackOAuth2Api": {
          "id": "GQBPu11Dn70U6Fe9",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🧠 AI Reasoning Engine (GPT-4o-mini) \n1. Analyseert intentie (Meeting vs. Taak vs. Chat).\n2. Extract entiteiten (Datum, Tijd, Namen).\n3. Genereert gestructureerde JSON output.\n4. Code node valideert en schoont de data op.",
        "height": 448,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        112
      ],
      "id": "6d585a15-87ce-43c2-b2a5-aef3f8e5234c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ⚡ Autonomous Execution\nParallelle uitvoering op basis van AI-beslissing:\n- Agenda: Checkt datums & nodigt gasten uit.\n- Notion: Update projectstatus of maakt taken.\n- Slack: Informeert het team realtime.",
        "height": 768,
        "width": 496,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -64
      ],
      "id": "00c9c0e3-e0cf-4a78-b2a3-d3b23485576c",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "🎙️ Incoming Voice Note": {
      "main": [
        [
          {
            "node": "📥 Download Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Download Audio File": {
      "main": [
        [
          {
            "node": "👂 Transcribe (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👂 Transcribe (Whisper)": {
      "main": [
        [
          {
            "node": "🧠 AI Brain & Router (gpt-4o-mini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 AI Brain & Router (gpt-4o-mini)": {
      "main": [
        [
          {
            "node": "🧹 Parse & Clean JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧹 Parse & Clean JSON": {
      "main": [
        [
          {
            "node": "🔀 Route: Calendar?",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔀 Route: Notion?",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔀 Route: Slack? Fase 4: Actie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route: Calendar?": {
      "main": [
        [
          {
            "node": "🗓️ Schedule Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route: Notion?": {
      "main": [
        [
          {
            "node": "🗃️ Update Project DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route: Slack? Fase 4: Actie": {
      "main": [
        [
          {
            "node": "📢 Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "lsahVPYE4GsMiTpM"
  },
  "versionId": "fc9186cd-0407-4678-924a-f4054cd6dab0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "JyNosXZAvOQBDmAI",
  "tags": []
}
